@font-face {
  font-family: 'Roboto Regular';
  src: url('../../public/fonts//Roboto//Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Light';
  src: url('../../public/fonts//Roboto//Roboto-Light.ttf') format('truetype');
}

// Font Myriad Pro ========================================================================
@font-face {
  font-family: 'Myriad Pro';
  src: url('../../public/fonts/Maven_Pro/static/MavenPro-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../../public/fonts/Maven_Pro/static/MavenPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../../public/fonts/Maven_Pro/static/MavenPro-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../../public/fonts/Maven_Pro/static/MavenPro-Regular.ttf') format('truetype');
}
